<div class="home">
    <h1>Message: {{message}}</h1>
    <h2>
        {{#if isAuthenticated}}
            Logged In!
        {{else}}
            Logged Out!
        {{/if}}
    </h2>
    <div>
        <h1>
            <a href="https://handlebarsjs.com/guide/#what-is-handlebars">
                Go to Handlebars Documentation
            </a>
        </h1>
    </div>
</div>