<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egg Farm Portal</title>
    <link rel="stylesheet" href="/public/app/style.css">
    <script type="text/javascript" src="/public/deps/index.js"></script>
</head>
<body>
    {{{body}}}
</body>
<script type="text/javascript" src="/public/app/index.js"></script>
</html>
